@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: red;
  --color-secondary: white;
}


.orb-container {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}


.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}
