@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: red;
  --color-secondary: white;
}